extends ../layouts/default

block intro
	.pageSection
		article.rowWithFullWidthPage
			if !data.page
				h2 Invalid page.
			else
					h1= data.page.title
					h5 Posted
						if data.page.publishedDate
							| on #{data.page._.publishedDate.format('MMMM Do, YYYY')}
									
						if data.page.author
							| by #{data.page.author.name.first}

block content
	.content-section-a
			.container
				.row
					.col-lg-5.col-sm-6
						hr.section-heading-spacer
						.clearfix
						h2.section-heading
							| #{data.page.headone.content}
							br
							| #{data.page.headone.content_br}
						p.lead
							| #{data.page.headone.content_full}
					.col-lg-5.col-lg-offset-2.col-sm-6
						img.img-responsive.img-thumbnail(src=data.page.headone.image.url, alt='')

	.content-section-b
			.container
				.row
					.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
						hr.section-heading-spacer
						.clearfix
						h2.section-heading
							| #{data.page.headtwo.content}
							br
							| #{data.page.headtwo.content_br}
						p.lead
							| #{data.page.headtwo.content_full}
					.col-lg-5.col-sm-pull-6.col-sm-6
						img.img-responsive.img-thumbnail(src=data.page.headtwo.image.url, alt='')

	.content-section-a
	.container
		.row
			.col-lg-5.col-sm-6
				hr.section-heading-spacer
				.clearfix
				h2.section-heading
					| #{data.page.headthree.content}
					br
					| #{data.page.headthree.content_br}
				p.lead
					| #{data.page.headthree.content_full}
			.col-lg-5.col-lg-offset-2.col-sm-6
				img.img-responsive.img-thumbnail(src=data.page.headthree.image.url, alt='')
