include ../../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title Join: confirm details - Upscale
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		style.
			.confirm-page__logo { display: inline-block; opacity: .25; }
			.confirm-page__logo img { max-width: 100%; }
	
	body.confirm-body
			.container		
					form(method='post', autocomplete='off', novalidate).form-signin
						input(type='hidden', name='action', value='confirm.details')
						//- h3.profile-form__heading Confirm Details
						h2.form-signin-heading Please confirm your details:
						+flash-messages(messages)
						//- TODO Gravatar / Optional image
						.form-group
							input(type='text' name='name.first' placeholder='First Name (required)' value=authUser.name.first).form-control
						.form-group
							input(type='text' name='name.last' placeholder='Last Name (required)' value=authUser.name.last).form-control
							
						.form-group
							input(type='email' name='email' placeholder='Email (required)' value=authUser.email).form-control.form-control-labelled
						.form-group
							input(type='text' name='website' placeholder='Website (optional)' value=authUser.website).form-control.form-control-labelled
						.form-group
							button(type='submit').btn.btn-primary.btn-block That all checks out, let's go &rarr;
