extends ../../layouts/default
include ../../mixins/commenting

block intro
	.blog-post-header(style='background-image: url(#{post.image.url})')
		h1.blog-post_title= post.title
		p.blog-post__byline Posted
			if post.author
				|  by&nbsp;
				span #{post.author.name.full}
			if post.publishedDate
				|  on #{post._.publishedDate.format('MMMM D, YYYY')}
			if post.categories && post.categories.length
				|  in&nbsp;
				each cat, cat_i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if cat_i < post.categories.length - 1
						| ,&nbsp;
					else
						|&nbsp;
		

block content
	.container: .row.rowWithFullWidth
		a(href='/blog').text-muted &larr; Back to the blog
		hr
		article.full-post
			if !post
				h2 Invalid Post.
			else
				header
					if post.state != 'published' && user.isAdmin
						.mt-1: .alert.alert-danger This Post has not been published yet. 
							a(href='/keystone/posts/' + post.id).alert-link Open Keystone
							|  to publish it.
					
					
					
					//- sharing buttons
					.share-buttons
						span.share-button
							.fb-like(data-href="http://theupscale.in/blog/post/" + post.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
						span.share-button
							a(href="https://twitter.com/share", data-via="SydJS", data-hashtags="sydjs", data-count="button", data-dnt="true").twitter-share-button Tweet
						span.share-button
							.g-plusone(data-size="medium")
			div.row.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
				!= post.content.full
				
				div
						+comment-form()
						+comment-thread(comments)
block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
	script.
		jQuery(function($) {
			
			var comments = $('#comments');
			var input = $('.comment-field-input');
			var submit = comments.find('button[type=submit]');

			
			// Scroll to comments and focus input field
			function scrollToComments(e) {
				
				e.preventDefault();
				
				$('html, body').animate({ scrollTop: comments.offset().top }, 250);
				
				input.eq(0).focus();
			}
			$('[href="#comments"]').click( scrollToComments );
			
			
			
			// Check if field has content: enable/disable submit. Disable by default
			submit.attr('disabled','disabled');
			input.keyup(function() {
				if ($.trim($(this).val())) {
					submit.removeAttr('disabled');
				} else {
					submit.attr('disabled','disabled');
				}
			});
		});
